<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
</head>
<body>
    <div>
        <h1>Login to URL Shortener</h1>
        <form action="/login" method="post">
            <div>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" placeholder="Enter your username">
            </div>
            <div>
                <label for="Email">Email : </label>
                <input type="email" name="email" id="email" placeholder="Enter your email">
            </div>
            <div>
                <label for="Password">Password: </label>
                <input type="password" name="password" id="password" placeholder="Enter your password">
            </div>
            <button type="submit">Login</button>
        </form>
        <div>
            Not have an account <a href="/signup">signup</a>
        </div>
    </div>
</body>
</html>