<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
</head>
<body>
    <h1>Shorten Your URLs</h1>
    <form method="post" action="/">
        <input type="text" id="longUrl" name="longUrl">
        <button type="submit">Shorten url</button>
    </form>
</body>
</html>